/* ---------------------------------------------------------------------------------------
Ui Elements Decorated with CSS
------------------------------------------------------------------------------------------
*/

body { /*Background Color*/
  background-color: rgb(255, 255, 255);
}
.app-header { 
    text-align: center;
}
.panel-header {
    text-align: center;
}
.tier-selector {
    text-align: center;
}
.upload-label { 
    border-radius: 25px;
  background-color: #00ffbf;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
.processing-status {
    text-align: center;
    border-radius: 25px;
  background-color: #00ffbf;
  padding: 20px; 
  width: 50%;
  height: 50%; 
}/* ---------------------------------------------------------------------------------------
Ui Elements Decorated with CSS
------------------------------------------------------------------------------------------
*/

body { /*Background Color*/
  background-color: rgb(255, 255, 255);
}
.app-header { 
    text-align: center;
}
.panel-header {
    text-align: center;
}
.tier-selector {
    text-align: center;
}
.upload-label { 
    border-radius: 25px;
  background-color: #00ffbf;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
.processing-status {
    text-align: center;
    border-radius: 25px;
  background-color: #00ffbf;
  padding: 20px; 
  width: 50%;
  height: 50%; 
}